#my_menu{
    width: 150px;
    margin: 0 auto;
    background-color: #ECEEEB;
}
#my_menu div:first-of-type{
    border-radius: 5px 5px 0 0;
}
#my_menu div.collapsed{
    height: 21px; 
    overflow: hidden;
}
#my_menu .collapsed span{
    height: 21px;
    background-color: #545754;
}
span{
    height: 21px;
    background-color: #545754;
}
#my_menu .collapsed a{
    height: 21px;
}
a:hover{
    background-color: #005C69;
}
a,span{
    display: block;
    padding-left: 5px;
}
